<div class="center-pane">
  <h1 class='welcome'>Welcome to</h1>
  <h1 class='welcome'> ChickTech Volunteer Manager</h1>

  <%= link_to 'Sign In', new_user_session_path, :class => "sign-in-button" %>
</div>
