<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Some updates on your ChickTech Events, <%= @user.first_name %></h1>
    <p>Here are some updates on ChickTech.</p>
    <p>To login to the site, just follow this link: <%= @url %>.</p>
    <p>Thanks for volunteering and have a great day!</p>
  </body>
</html>
