<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to ChickTech, <%= @user.first_name %></h1>
    <p>
      You have been signed up to ChickTech.
      Your username is your e-mail address: <%= @user.email %>.<br/>
      Please follow this link to create your password.
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>