<div class="comment well">
	<h5><%= comment.user.full_name %> says...</h5>
	<p class='comment-content'><%= comment.content %></p>
	<p class="text-muted"><%= comment.created_at.strftime("%A, %B %d, %Y at %I:%M") %></p>
</div>
