<% if @comment.errors.any? %>
  <div class="alert alert-danger">
    <h4>Please correct these errors:</h4>
    <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div>
  <%= render 'comments/form' %>
</div>
