<h1>Manage Users</h1>
<h3><%= link_to "Invite a new user", new_user_invitation_path %></h3>

<ul>
  <% @users.each do |user| %>
    <li><%= link_to "#{user.first_name} #{user.last_name}", user %></li>
    <li><%= user.email %></li>
    <li><%= link_to "remove",
                    user_path(user),
                    :method => :delete,
                    :class => "btn btn-danger",
                    :id => "remove#{user.id}" %></li>
  <% end %>
<ul>
