<% provide :title, "#{@event.name}" %>

<div class="event">
  <div class="event-header">
    <h1><%= @event.name %></h1>
    <h4><%= event_date_range(@event) %></h4>
  <div class="event-info">
    <div class="description">
      <p><%= @event.description %></p>
    </div>
  </div>

  <div id="teams">
    <%= render partial: 'teams/team_panel', collection: @event.teams, as: :team %>
  </div>
</div>
  
 
