<h4> Choose a city to view upcoming events </h4>




<%= form_tag '/events', :method => 'get' do %>
  <%= collection_select(:city, :city_id, @cities, :id, :name) %>
  <%= submit_tag 'Search', :class => 'sign-in-button-small' %>
<% end %>