@import 'bootstrap';

body{
  min-height: 100%;
  color:black;
  background-image: asset-url("sos.png");
  color:#736759;
}

ul {
  list-style-type: none;
}

a {
  color: #4bbbbd;
  padding-left: 10px;
}

a:hover {
  text-decoration: none;
  color:#ef669e;
}

hr {
  background: #ddd;
  clear: both;
  float: none;
  width: 80%;
  height: 1px;
  margin: 0 0 1.4em;
  border: none;
}

label {
  color: #736759; /* light brown */
}

hr.style-four {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(75, 187, 189, 1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(75, 187, 189, 1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(75, 187, 189, 1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(75, 187, 189, 1), rgba(0,0,0,0));
  x-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
  margin: 0 auto;
}

/*sidebar */

#sidebar-wrapper {
  margin-left: -250px;
  left: 230px;
  width: 200px;
  background: #cecac6;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  border-style:solid;
  border-right-width:0px  #736759;
  border-top: none;
  overflow-x: hidden;
  box-shadow: 1px -3px 24px #888888;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color:  #4bbbbd;;
  display: inline-block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  margin-top: 9px;
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

/*forms*/

.form-control-sign-in {
  width: 100% !important;
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  vertical-align: middle;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin: 0 auto;
}

.form-control-short {
  width: 30% !important;
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  vertical-align: middle;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-group label {
  margin: 5px;
}

.field_with_errors {
  @extend .has-error;
}


/* navigation */
.navbar-default .navbar-nav > li > a {
color: #4bbbbd;
}

.user-name {
  font-size: 20px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #ef669e;
background-color: transparent;
}

.navbar-default .navbar-toggle {
border-color: #ef669e;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #ef669e;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #4bbbbd;
}

.navheader{
  background-color: #736759;
  width: 100%;
}

.nav-font {
  color: #736759; /* light brown */
  font-size: 100%
}

.nav-font:hover {
  color: #ef669e; /* chicktech pink */
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

/*columns */


.pending {
margin-top: -20px;
}

.individual-comments {
  background-color: white;
}
.comment-content {
  color: #ef669e;
  font-weight: 600
}

.well-event {
min-height: 20px;
padding: 19px;
margin-bottom: 20px;
background-color: #cecac6;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.welcome {
  color: #736759;
  text-align: center;
  font-size: 50px;
}

.well-event h4 {
  margin-left: 10%        ;
}

.navbar-default .navbar-nav > li > a {
color: #4bbbbd;

}


.col-md-10 {
  padding-right: 15px;
  padding-left: 15px;
}

.column-container{
  width:1600px;
  margin-left:-9%;
}

.job-descriptions {
  text-indent: 10px;
}0

/*buttons*/

.create-button {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #FFF;
  font-size: 18px;
  background: #ef669e;
  padding: 9px 10px 9px 10px;
  text-decoration: none;
  border: none;
  margin-bottom: 25px;
}

.create-button:hover {
  background: #e32976;
  text-decoration: none;
  color: white;
}


.sign-in-button {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #FFF;
  font-size: 23px;
  background: #ef669e;
  padding: 9px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  top: 40%;
  position: relative;
  margin-right: 0 auto;
  margin-left: 0 auto;
}
.sign-in-button:hover {
  background: #e32976;
  text-decoration: none;
  color: white;
}

.sign-in-button-small {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #FFF;
  font-size: 18px;
  background: #ef669e;
  text-decoration: none;
  border: none;
  margin-bottom: 25px;
}

.btn-primary {
 -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #FFF;
  font-size: 18px;
  background: #ef669e;
  text-decoration: none;
  border: none;
  margin-bottom: 25px;
}

.sign-in-button-small:hover {
  background: #e32976;
  text-decoration: none;
}


/*tasks */
.job-descriptions, .team-descriptions {
  text-indent: 30px;
}

.label {
  font-weight: bold;
  color: #736759;
}

ul {
  list-style-type: none;
}

.done {
  float: right;
  margin-left: 25%;
}

.not-done {
  float: left;
  margin-right: 25%;
}

.logo-image {
  width: 150px;
  padding-top: 0px;
}

.center-pane {
  margin:140px 0px;
  padding:0px;
  text-align:center;
}

.alert-info {
  background-color: #4bbbbd; /* chicktech blue */
  color: white;
}

.alert-danger {
  background-color: #ef669e;
  color: #736759;
}

.headers {
  color: #736759;
  font-size: 40px;
}

.remove {
  color:red;
  padding-right: 30px;
}


.cities {
  padding-top: 19px;
}


.new_user {
  width: 300px;
  margin: 0 auto;
  text-align: left;
}

.well {
border-radius: 9px;
box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.5), inset 0 0 7px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 -1px 2px 1px rgba(0, 0, 0, 0.25), 0 2px 2px 1px rgba(255, 255, 255, 0.75), 0 -2px 10px 2px rgba(255, 255, 255, 0.75), 0 2px 10px 2px rgba(0, 0, 0, 0.25);
cursor: pointer;
position: relative;
-webkit-appearance: none;
-webkit-transition: .15s;
}


.edit-links {
  font-size: 10px;
}

.check-box {
  float: left;
 }

.drop-below {
  margin-top: 35px;
}

.drop-below a{
  padding-left: 0px;
}

.contact-info {
  text-align: left ;
  margin-left: 20px;
  float:left;
  margin-top: 300px;
}

.container {
  width: 100%;
}



.section-header {
  font-size: 20px;
}


.event-name {
  color: #ef669e;
}

/*Make sure to come back and change this to a link*/
.submit-no-button {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #FFF;
  font-size: 18px;
  background: #ef669e;
  text-decoration: none;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.submit-no-button:hover {
  background: #e32976;
  text-decoration: none;
  color: white;
}

.col-xs-2 {
  width: 25%;
  margin-right: 4%;
  border-style:solid;
  border-width:5px;
  border-radius: 14px;
}

.col-xs-4 {
  margin-left: 2%;
}

@media (max-width: 800px){
  .container-fluid{ width: 100%
  }
  .row-fluid{ width: 100%
  }
  .col-xs-4 { width: 100%
  }
  .col-xs-2 { width: 100%
  }
}

.container-footer {
  position:fixed;
  bottom:0px;
  width:100%;
  height:60px;
  background:rgba(0, 153, 153, 1)
}

.navbar-default{
  background-color: #736759;
  border-color: transparent;
  -webkit-box-shadow: 0 8px 6px -6px rgb(167, 162, 162);
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px rgb(155, 149, 149);
}

/*.job-info {
  padding-left: 50px;
}*/

.left-column {
  position: absolute;
  left: 0px;
  top: 80px;
  width: 18%;
  bottom: 0px;
  background-color: white;
}

.navbar-collapse.collapse {
  display: none !important;
}

.navbar-default {
  background-color: none;
  border-color: transparent;
}

.navbar {
  position: relative;
  z-index: 1000;
  min-height: 0px;
  margin-bottom: 0px;
}

.input-append {
  border-radius: 5px;
}

.edit-delete-indent {
  margin-left: 0px;
}
/*

bootstrap theme

*/

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}



#page-content-wrapper {
  width: 100%;
}


.content-header {
  height: 10px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20
  px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    left: 0;
  }

  #wrapper.active {
    position: relative;
    left: 250px;
  }

  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }

  #menu-toggle {
    display: inline-block;
  }

  .inset {
    padding: 15px;
  }

}

.event-card {
  padding: 0;

  .header {
    width: 100%;
    padding: 10px;
    background-color: rgba(75, 187, 189, 0.75);
    overflow: hidden;
    border-radius: 8px 8px 0 0;
    color: white;

    span {
      font-size: 120%
    }
  }

  .body {
    padding: 0 10px 10px 10px;

    span {
      font-size: 50%;
    }

    .team {
      border-top: 1px solid #cccccc;
    }
  }
}

div.window {
  color: white;
  width: 820px;
  border-radius: 5px;
  background: #4bbbbd;
  text-align: center;
  font-family: BlueHighway, Arial Black, sans-serif;
  margin: 0 auto;
}
div.window label {
  display: block;
  background: #ef669e;
  font-size: larger;
  border-radius: 0px;
  padding: .1rem;
  transition: 1s all linear;
}
div.window label:hover {
  cursor: pointer; background: #311;
}
input.toggle ~ div {
  height: 1px; margin: .2rem;
  overflow: hidden;
  transition: 1s all cubic-bezier(0.730, -0.485, 0.145, 1.620)
}
input.toggle:checked ~ div { height: 190px; }
input.toggle:checked + label { background: #ef669e; }
input.toggle { display: none; }

#event-title {
  text-align: left;
}
#event-location {
  text-align: left;
}

#start-end {
  text-align: left;
}


.form_datetime {
  width: 200px !important;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
